*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.persona{
    
    text-align: center;
    border: 1px solid rgb(214, 65, 65);
}
.persona img{
    width: 100%;
}
